.p-menubar {
  background-color: var(--surface-ground);
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .p-menuitem {
    padding-top: 0;
  }
  .login-button {
    margin-left: auto;
    margin-right: 0;
  }
  .p-menubar-end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.p-button .theme-button {
  box-shadow:none !important;
}